<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<HEAD>
    <!--   <TITLE>erro</TITLE> -->
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <head>
        <!-- <title>Oops!</title> -->
        <!-- <link rel="stylesheet" th:href="@{/style.css}"></link> -->
    </head>

    <div class="errorPage">
        <span class="oops"></span><br/> <img th:src="@{/web/common/image/erro.jpg}"></img>
        <p>
            <!-- 		There seems to be a problem with the page you requested (<span th:text="${path}"></span>). -->
        </p>
        <!-- 	<p th:text="${'Details: ' + message}"></p> -->
    </div>
</html>
</html>